.container, body, html {
  background-color: black;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.quote-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 50vw;
  max-height: 50vh;
  z-index: 1;
  padding: 15px;
  background: rgba(0,0,0,0.6);
  border-radius: 3px;
  text-align: center;
}

.quote {
  color: mintcream;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  user-select: none;
  cursor: default;

  backface-visibility: hidden;
}
.pic-holder {
  position: absolute;
  top: 50%;
  left: 50% ;
  margin-right: -50%;
  transform: translate3d(-50%, -50%, 0%);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-color: rgba(0,0,0,0.4);
  background-blend-mode: soft-light;
  animation: fadein 2s forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
